
.gameItem {
  width: 280px;
  margin: 10px 20px;
  display: inline-block;
  position: relative;
}

.gameItem:hover .detail{
	height: 190px;
  width: 280px;
	display: inline-block;
	background-color: rgba(40,46,57,.9);
	position: absolute;
	color: #fff;
	top: 0;
	left: 0;
}

.icon{
	width: 150px;
	height: 100px;
	background: #00a0e9;
	margin: 0 auto;
}

.gameItem h2{
	color: #333;
	text-align: center;
	margin: 5px 0;
}

.gameItem p{
	text-align: center;
}

.detail{
	display: none;
}
