.r_wrap{
	height: 2029px;
	font-size: 16px;
	color: #333333;
}
.money>div{
	height: 28px;
	line-height: 28px;
	clear: both;
	margin-bottom: 10px;
}
.money_num{
	font-size: 36px;
	padding: 0px 30px 0 12px;

}
.money_info{
	padding-top: 20px!important;
	margin-bottom: 63px;
	height: 100px!important;
}
 i:before{
	font-size: 18px;
	padding-right: 14px;
}
.pay_now{
	width: 141px;
	height: 41px;
	color: #2E8BFF;
	font-size: 16px;
	border-color: #57c5f7;
}
.blue_text{
	color:#2E8BFF;
	padding: 0 9px 0 9px;
}
