.top{height:350px;background:#282e39;font-size:20px;color:#fff;}
.bannerBox{max-width:1200px;margin:auto}

.banner{height:270px;max-width:1200px;margin:0 auto;padding:3% 0;color:#fff;}
.banner h3{font-size:58px;colo:#333;font-weight:normal;margin-top:3%;}
.img{width:100%;height:270px;background:url("http://m.8win.com/info/img/default-s.png") no-repeat;background-size:cover;}
.banner li{list-style-type:circle;margin-left:18px;font-size:18px;margin-top:3%;line-height:18px;}

@media screen and (max-width: 768px) {
	.top{height:215px;}
	.banner{height:215px;}
	.banner h3{font-size:25px;margin-top:3%;}
	.banner li{font-size:14px;line-height:22px;} 
	.banner button{font-size:12px;margin-top:8px;}
}
