.r_wrap{
	height: 500px;
	font-family: 'FZLTHK--GBK1-0';
}
.money>div{
margin: 10px 0;
}
.data_picker{
	height: 32px;
	width: 150px;
	border-radius: 2px;

}
.money_info{
	text-align:buttom;
	padding-top: 20px;
	height: 30px;
	font-size: 20px;
	color: #333333;
	margin-bottom: 28px;
}
.btn{
	 width: 124px; 
	height: 41px;
	background-color: #2E8BFF;
	font-size: 16px;
	color: #FFFFFF;

}
.footer{
	margin-top: 60px;
}


