.balance{
	font-size: 20px;
	line-height: 28px;
	margin: 30px  0;
}
.table_list th,.table_list td{
	text-align: center!important;
}
.table_list tr:nth-child(even){
	background-color: #F7F7F7;
}
.table_list tr:hover {
	background-color: #EAF3FF;
	
}
.paging{
	margin-top: 50px;
}
 .paging button{
  display: inline-block;
    height: 41px;
    border: none;
    border-radius: 2px;
    background-color: #2E8BFF;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    width: 100%;
  }
  .choose_btn:hover{
	background-color: #2E8BFF;
	color: #FFFFFF;
}
@media screen and (max-width: 768px) {
.balance{
	font-size: 16px;
	line-height: 16px;
	margin: 15px  0;
}
.table_list th,.table_list td,.table_list span{
	font-size: 14px!important;
	font-weight: 100!important;
	text-align: center!important;
}
.table_list tr:nth-child(even){
	background-color: #F7F7F7;
}
.table_list tr:hover {
	background-color: #EAF3FF;
	
}
.paging{
	margin-top: 25px;
}
 .paging button{
  display: inline-block;
    height: 41px;
    border: none;
    border-radius: 2px;
    background-color: #2E8BFF;
    color: #FFFFFF;
    font-size: 16px;
    margin: 0;
    width: 100%;
  }
  .choose_btn:hover{
	background-color: #2E8BFF;
	color: #FFFFFF;
}
.datapic{
	margin-top: 30px;
}
.datapic>span{
	display: inline-block;
	width: 100%;
}
.datapic input{
	height: 30px;
	width: 100%;
}

}
