.item{border:solid 1px #ccc;padding:20px 0;}
.icon{width:64px;height:64px;margin:auto;background:pink;}
.item h4{color:#333;text-align:center;padding:12px 0 20px;font-weight:500;}
.item button{margin:0 auto;border-color:#2e8bff;color:#2e8bff;display:block;}
