.wrap{margin:40px auto;width:400px;max-width:1200px;padding:20px 25px;}
h1{margin-bottom: 30px;text-align: center;font-weight: 200;}
.wrap input{height:40px; font-size: 16px;}
.wrap label{height:32px; font-size: 16px;}
.regBtn{width:180px;height:40px;font-size: 16px;margin:20px auto;display: block;}
.sms{width:100px;height:40px;font-size:16px;}


@media screen and (max-width: 768px) {
	.wrap{margin:20px auto;}

}