
.top{margin-bottom:10px;}
.top h2{font-size:26px;color:#999;font-weight:500;}
.top button{background-color:#2E8BFF;width:100%;font-size:20px;}
.warp{border:solid 1px #E6E6E6;margin-top:50px;}
.name{background-color:#2E8BFF;}
.name p{font-size:16px;line-height:28px;text-align:center;color:#fff;margin:10px 0 20px}
.icon{width:80px;height:90px;background-color:pink;margin:40px auto 0;}
.num{position:relative;}
.num:after{content:'';height:50px;position:absolute;top:70px;right:0;border-left:solid 1px #E6E6E6;}
.num p{font-size:16px;color:#999;margin:60px 0 10px;text-align:center;}
.num h3{font-size:36px;color:#666;text-align:center;}
.set button{border-color:#2E8BFF;color:#2E8BFF;width:150px;margin:70px auto 0;display:block;padding:10px;font-size:16px;}

@media screen and (max-width: 768px) {
	.top button{width:40%;font-size:14px;margin:-20px auto 10px;display:block;    padding:6px 0;}
	.warp{margin:30px 4% 0;}
	.name p{font-size:14px;line-height:20px;margin:25px 0 0;display:inline-block;vertical-align:top;}
	.icon{width:40px;height:45px;margin:12px 10px 12px 40%;display:inline-block;}
	.num:after{display:none}
	.num p{font-size:14px;margin:40px 0 10px;}
	.num h3{font-size:24px;}
	.set button{width:310px;margin:40px auto;padding:8px;font-size:14px;}
	
}