
.searchBox{margin-top:30px;border-bottom:solid 1px #E5E5E5;}
.subBox{width:100%;max-width:600px;margin:0 auto;}
.searchBox p{font-size:16px;color:#333;margin:20px 0 50px;}
.searchBox p span{padding-right:15px;display:inline-block;}
.list{min-height:1000px;padding-left:10px;}
.list h3{font-size:16px;color:#333;margin-top:40px;font-weight:normal;}
.list h3:before{content:'•';position:absolute;margin-left:-10px;color:#E5E5E5;}
.list p{font-size:14px;color:#333;margin-top:15px;}
.page{margin:100px 0 200px; }

@media screen and (max-width: 768px) {
	.searchBox{margin:25px 5% 0;}
	.searchBox p{font-size:14px;margin:15px 0 25px;}
	.searchBox p span{padding-right:15px;}
	.list{margin:0 5%;}
	.list h3{margin-top:30px;}
	.page{margin:50px 5% 75px; }
}