header{font-size:16px;background:#282e39;color:#fff}
header>.row{max-width:1200px;margin:auto}
header>.row>div{line-height:80px;text-align:center;height: 80px;}
header>.row>div:first-child{font-size:22px;font-weight:bold;font-family:initial;}
header .hover:hover{background:#2D3441;}
header .hover:hover .down,.outMeu:hover .caret_down{background:#2D3441;-webkit-transform:rotate(180deg);transform:rotate(180deg)}
.outMeu:hover .caret_down{background:transparent;}
header .down,.caret_down{margin-left:5px;font-size:12px;font-weight:bold;transition:-webkit-transform .3s ease;}
header .cloud{vertical-align:-6px;font-size:42px;font-size: 46px!important;}
header .cloud:before{font-size: 32px!important;}

header .btn{max-width:100px;height:30px;background:#424B5C;color:#fff;border:none}
header .href{color:#fff;}
header .navhref{color:#FFF!important;display: inline-block;width: 100%;line-height: 80px;height: 100%;}
header .bars{margin-left: 16px;vertical-align:-8px;font-size:42px!important;}
.servertitle a.href{display: inline-block;width: 170px;height: 100%;position: relative;}
.center_meu a{
	color: white!important;
}
.center_meu a:hover,.menugroup a:hover{
  color: #2588FF!important;
}
.logo{display: inline-block;width: 170px;height: 40px;background: url(../../img/logo.png) no-repeat 0 0;background-size: 170px 40px;position: absolute;left: 0;top:50%;margin-top: -20px;}
.menugroup>ul>li>ul[class*="ant-menu"]>li:last-child,.menuserver>ul>li:last-child,.menuserver>ul>li>ul>li:last-child{padding-bottom: 20px;background: #242c38;}
.menugroup>ul>li>ul[class*="ant-menu"]>li:first-child,.menuserver>ul>li:first-child{padding-top: 20px;height: 62px;box-sizing:border-box;background: #242c38;}
.menuserver>ul>li>ul>li:first-child{margin-top: 20px}
.menugroup>ul>li:hover{background-color: #25282f;color:#fff!important;}
.menugroup li{background: #282e39;height: 100%;color: white;border-bottom: 0px!important;}

.menugroup>ul,.menuserver ul{background: #242c38;border: none;color:#fff;height: 100%;padding: 0;}
.menugroup>ul>li,.menuserver>ul>li{background: #282e39;border: 0;color:#fff;height: 100%;margin-top: 0;width: 100%;}
.menugroup div[class*="ant-menu-submenu-title"]+ul>li{font-size: 16px;padding: 0;}
.menugroup>ul>li>div{height: 100%;overflow: hidden;}
.menugroup div+ul{margin-top: 0px!important;box-shadow:0 0 0 0!important;}
.menupub div+ul[class*="ant-menu"]{border-right: 1px solid #242c38!important;background: #242c38}
.menugroup div+ul[class*="ant-menu"]>li:last-child{margin-bottom: 20px;}
.menugroup div+ul>li,.menugroup ul,.menugroup .menuserver div+ul[class*="ant-menu"]{border-right: 0px!important;background: #242c38;}
.menugroup>ul>li:hover,,.menuserver>ul>li:hover{background-color: #25282f;color:#fff!important;}
.menugroup li{background: #242c38;height: 100%;color: white;border-bottom: 0px!important;}
.menugroup>ul div+ul>li:hover,.menuserver>ul>li:hover[class*="ant-menu-submenu-vertical"]>div[class*="ant-menu-submenu-title"]{background-color: #242c38;color: #2588FF!important;border-bottom: 0px!important;}
.menugroup div[class*="ant-menu-submenu-title"]{padding:0;}
.menuserver>ul>li[class*="ant-menu-submenu-vertical"]>div[class*="ant-menu-submenu-title"]{background: #242c38;height: 45px;line-height: 45px;font-size: 16px;}
.menuserver{border-right: 1px solid #242c38;background: #242c38;}
.menuserver:hover{border-right: 1px solid #414958;background: #242c38;}
.menuserver>ul>li{text-align: left;}
.menuserver>ul>li:nth-child(2)>ul{top:-62px!important;}
.menuserver>ul>li:nth-child(3)>ul{top:calc(-42px * 2 - 22px);}
.menuserver>ul>li:nth-child(4)>ul{top:calc(-42px * 3 - 24px);}
.menuserver>ul>li:nth-child(5)>ul{top:calc(-42px * 4 - 26px);}
.menuserver>ul>li:nth-child(6)>ul{top:calc(-42px * 5 - 28px);}
.menuserver>ul>li:nth-child(7)>ul{top:calc(-42px * 6 - 30px);}
.menuserver>ul>li>ul{width: 600px;height: 480px;margin-left: 1px!important;border-radius: 0!important;}
.menuserver>ul>li>ul>li{height: 60px!important;line-height: 30px!important;padding-left:30px!important;box-sizing:border-box;max-width: 600px;overflow: hidden;}
.menuserver>ul>li>ul>li>span{display: inline-block;max-width: 540px;overflow: hidden;}
.navitems{font-size: 16px;}
.navitems+span{font-size: 14px;color: #9a9a9a;}

.dn{display: none}
.actbar{width: 100%;height:600px;background: red;display: block;}
.mlogin{padding-right: 16px;font-size: 16px;}
.mnavbar{left: 0;top: 79px;width: 100%;height: calc(100% - 80px);z-index: 2;background: #282E39;}
.mnavbar li[class*="ant-menu-item"],.mnavbar li>div[class*="ant-menu-submenu-title"]{height: 60px!important;line-height: 60px!important;font-size: 16px!important;}
.mnavbar div::after{font-size: 16px!important;}
.mnavbar .iconnone div[class*="ant-menu-submenu-title"]::after{display: none!important;}
.mnavbar>ul{background: #282E39;color:#fff;width: 100%!important;border: none;margin:0 auto; }
.mnavbar>ul>li>div{background: #282E39}
.mnavbar>ul>li>div:hover{background: #282E39}
.mnavbar>ul div+ul>li{background-color: #393e49;color: #fff;}
.mnavbar>ul div+ul>li:hover{background-color: #393e49;color: #fff!important;}
.mnavbar li>div+ul div{background: #393e49}
.mnavbar li>div+ul div:hover{background: #393e49}
.mnavbar li>div+ul div+ul li{background: #4b5059}
.mnavbar li>div+ul div+ul li:hover{background: #4b5059}
.regBtn{width: 40%;height:40px;font-size: 16px;margin:20px auto;display: block;margin-top: 60px;color:#fff;border-color: #fff;border-radius: 2px;}
.center_meu,.center_meu ul {
	background-color: #242c38!important;
}
.defaulthref:link,.mnavbar li[class*="ant-menu-item-selected"]>a.href,.mnavbar li[class*="ant-menu-item"]>a.href{color: white!important;}
/* .defaulthref:active{color: white;}   
.defaulthref:visited{color: white;}   */ 
.defaulthref:hover{color: white;}

@media screen and (min-width: 990px) {
	.mnavbar{display: none}
}

@media screen and (max-width: 990px) {
	header i:before{font-size: 32px!important;}
	.cloud+a{padding:0;}
}

@media screen and (max-width: 768px) {
	header>.row>.servertitle{text-align: left;padding-left: 10px;}
	header i:before{font-size: 32px!important;}
	.cloud+a{padding:0;}
	header>.row>.mbars{text-align: right;padding-right: 10px;}
}

@media screen and (max-width: 414px) {
	header a.href span{color: #fff!important;}
	.mnavbar>ul{width: 100%!important;}
	.regBtn{width:90%;}
	.mnavbar{position: absolute;overflow: auto;}
	.pf{position: fixed;}
}

