.r_wrap{
	height: 500px;
	text-align: center;
}
.pay_s{
	font-size: 30px;
	line-height: 90px;
	height: 90px;
	color: black;

}
.r_wrap>div>div{
	height: 25px;
	color: #636363;
}
.btn_re{
	height: 41px;
	width: 200px;
	background-color: #2E8BFF;
	border-radius: 2px;
	color: white;
	margin-top: 60px;
}

.btn_col{
	height: 100px;
}