.success{
	height: 860px;
	width: 200px;
	margin: auto;
	text-align: center;
	color: #505050;
	font-size: 16px;
}
.pay_suc{
	font-size: 36px;
	margin: 50px 0;
	color: black;
}
.order_price,.order_num{
margin-bottom: 10px;
}
.btn_col{
	margin-top: 90px;

}
.btn_col button{
	background-color: #2E8BFF;
	color: #fff;
	border-radius: 2px;
	height: 41px;
	width: 100%;
	display: inline-block;
}
.btn_col button:hover{
	color: #fff;
	background-color: #2E8BFF;
}
@media screen and (max-width: 768px) {
	.success{
	height: 500px;
	width: 100%;
	margin: auto;
	padding: 0px 15px;
	color: #333333;
	font-size: 14px;
}
.pay_suc{
	font-size: 18px;
	margin: 20px 0 25px 0;
	color: black;
}
.order_price,.order_num{
margin-bottom: 14px;
}
.btn_col{
	margin-top: 36px;

}
.btn_col button{
	background-color: #2E8BFF;
	color: #fff;
	border-radius: 2px;
	height: 41px;
	width: 100%;
	display: inline-block;
	font-size: 16px;
}
.btn_col button:hover{
	color: #fff;
	background-color: #2E8BFF;
}
}