.r_wrap{
	height: 860px;
	text-align: center;
	color: black;
}
.pay_suc{
	font-size: 30px;
	line-height: 120px;
	height: 120px;
	color: black;

}
.r_wrap>div>div{
	height: 28px;
	color: #636363;
}
.btn_re{
	height: 41px;
	width: 200px;
	background-color: #2E8BFF;
	border-radius: 2px;
	color: white;
	margin-top: 100px;
}

.btn_col{
	height: 100px;
}