
.menu{border-left:3px solid #eee;position:relative;font-size:16px;margin-top: 50px;}
.menu a{color:#333;}
.menu .active{color:#2e8bff}
.menu li{max-width:60%;line-height:60px;margin-left:20px;border-bottom:1px solid #eee;}
.menu a:last-child li{border:none;}
.menu .active:before{width:3px;height:60px;background:#2e8bff;content:'';position: absolute;left:-3px;}

@media screen and (max-width: 768px) {
	.menu{font-size:14px;}
	.menu li{max-width:100%;line-height:40px;}
	.menu .active:before{height:40px;}
}