.wrap{margin:40px auto;max-width:1200px;}
h1{margin-bottom: 30px;text-align: center;font-weight: 200;}
.main{margin:10px 0 10px;}
.main input{height:40px; font-size: 16px;border-radius: 0;}
.main label{height:32px; font-size: 16px;}

.regBtn{width:180px;height:40px;font-size: 16px;margin:20px auto;display: block;border-radius: 4px;}
.sms{width:100px;height:40px;font-size:16px;border-radius: 0;}

.dn{display: none}
.success{width:100%;text-align: center;margin-top: 50px;}
.steps{height: 70px; padding-bottom: 60px;}
.iscode{display: inline-block;width:68px;height: 22px;background: red;border: 1px solid #f6f6f6;vertical-align: top;text-align: center;margin:0 10px;}
.iscode img{width:100%;height: 100%}

.stepswp{padding-left: 10px;}
.stepswp div div[class*="ant-steps-step"]{position: relative;}
.stepswp div div[class*="ant-steps-main"]{position: absolute;bottom:-30px;}
.stepswp>div>div:nth-child(1) div[class*="ant-steps-main"]{left: -20%;}
.stepswp>div>div:nth-child(2) div[class*="ant-steps-main"]{left: -15%;}
.stepswp>div>div:nth-child(3) div[class*="ant-steps-main"]{left: -40%;}
.stepswp div[class*="ant-steps-title"]{padding: 0;white-space:nowrap}

.form input::-webkit-input-placeholder {
	color: #cccccc!important;
	line-height: 30px;
}

@media screen and (max-width: 414px) {
	.required{width: 70%;}
	.requiredbtn{width:30%}
	.requiredbtn .sms{width: 100%;text-align: center;padding:0;}
	.stepswp{width: 90%;margin:0 auto;}
	.surplus{width:5%;}
	.main{width: 90%;}
}
